@import "global.css";
@layer reset, dashboard, tokens, components, utilities;

@layer dashboard {
    body {
        display: flex;
        justify-content: space-between;
        height: 100%;

        header {


            .sidebar {

                height: 100%;

                background: oklch(var(--card-surface));
                border-right: 2px solid oklch(var(--primary-blue) / var(--opacity-2));
                width: 11.5rem;

                >* {
                    padding: 1rem;
                }

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 4rem;
                    border-bottom: 1px solid oklch(var(--primary-blue) / var(--opacity-2));

                    .logo {

                        width: 2rem;
                        height: 2rem;
                        padding: 0.5rem;
                        border-radius: 100%;
                        background: linear-gradient(135deg, oklch(var(--primary-blue)), oklch(var(--accent-purple)));
                        color: white;
                    }

                    button {
                        svg {
                            width: 2rem;
                            height: 2rem;
                            color: oklch(var(--muted-text) / var(--opacity-8));
                        }
                    }
                }


                nav {
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;

                        gap: 0.5rem;

                        li {
                            display: inherit;
                            justify-content: start;
                            align-items: center;
                            width: 100%;
                            gap: 1rem;

                            transition: 0.5s;
                            border-radius: 10px;
                            border-color: transparent;

                            a {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                width: 100%;
                                padding: 1rem;
                                color: oklch(var(--muted-text) / var(--opacity-8));
                                font-size: var(--fs-md);

                                .icon {
                                    width: 1.2rem;
                                }
                            }

                            &:hover {
                                background: oklch(var(--primary-blue) / var(--opacity-1));
                            }
                        }
                    }
                }
            }
        }

        main {
            width: auto;
            .overview {
                background:red;
            }
        }
    }
}